<div class ="main">
  <div id="" style="overflow-y: scroll;height: 100vh; width:100%;">
    
    <!--Search button with expandable holder-->
    <div  appMzterialDesignLite style="float:right; color: black; height:50px">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search1">
          <i class="material-icons" style="top: 10px;">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="search" id="site-search1" name="site-search1" placeholder="Company Name" [(ngModel)] ="querystring" />
          <label class="mdl-textfield__label" for="site-search1">Search</label>
        </div>
      </div>
    </div>

    <br> 
    <br>
    <br>
    <br>

    <!-- Wide card with Edit and Delete button -->
    
    <div class="ui stackable two column grid" style="height:70vh">
 

        <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="width: 95%;height:50vh" >
       <thead style="background-color: #1e88e5;">
        <tr>
          <th style="color: white;text-align: left;font-size: 14px;">Company Name</th>
          <th style="color: white;text-align: left;font-size: 14px;">Company Address</th>
          <th style="color: white;text-align: left;font-size: 14px;">Company Type</th>
          <th style="color: white;text-align: left;font-size: 14px;">Industry Type</th>
          <th style="color: white;text-align: left;font-size: 14px;">Employee Count</th>
            <th style="color: white;text-align: left;font-size: 14px;">Contacts</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let acct of accounts | productSearch: querystring: 'accounts' |sortorder | paginate: { id: 'cust', itemsPerPage: 6, currentPage: q }">
          <td [routerLink]="['/companyinfo', acct.companyid]" style="text-align: left;">  {{acct.companyname}}</td>
          <td style="text-align: left;"> <p style="font-size: 12px;">  
            {{getAddressline1(acct.company_address_line1)}}
            <br>
            {{getAddress(acct.company_address_line2, acct.company_address_area, acct.company_address_state, acct.company_address_pincode)}}
          </p></td>
          <td style="text-align: left;">{{getStringValue(acct.companytype)}}
          </td>
          <td style="text-align: left;">{{getStringValue(acct.industrytype)}}
          </td>
             <td style="text-align: left;"> {{getStringValue(acct.employee_count)}}
          </td>
                <td style="text-align: left;">  {{countContactPerson(acct.contact_persons)}}
          </td>
        </tr>
 
      </tbody>
    </table>
       
   
    </div>


    <!--Pagination-->

         <br>
      <pagination-controls id="cust" (pageChange)="q = $event"></pagination-controls>

   </div>

  </div>



