<br>
<br>
<br>
<br>

<div class="ui styled accordion">
  <div *ngFor="let item of items">
    <div class=" title" >
      <i class="dropdown icon"></i>
      {{item.categoryname}}
    </div>
    <div *ngIf="item.hassubcategory">
      <div class="content">
       <div *ngFor="let subitem of item.subcategory">
        <div class="accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            {{subitem.categoryname}}
          </div>
          <div class="content">
            Welcome to level 1
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="padding-left: 10px;padding-bottom: 10px;padding-top: 10px;">
  <div style="padding-left: 20px;">
    <form class="ui form">
      <div class="field">
        <label>First Name</label>
        <input [(ngModel)]="categoryname" type="text" name="categoryname" placeholder="Category Name">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input [(ngModel)]="hassubcategory" type="text" name="last-name" placeholder="Sub Category">
      </div>
      <button class="circular ui icon button" (click)="addcategoryobject()">
        <i class="icon settings"></i>
      </button>
      Add Category 
    </form>
  </div>
</div>
</div>