.mdl-data-table 
th{
	text-align: left !important;
	font-weight: bold;
	font-size: 17px;
	color: black;
	background-color: #e0f2f1 
}
td{
	text-align: left !important;
	padding-bottom: 1px;
	padding-top: 1px;
	font-size: 16px;
}

.main{
	padding:5px 30px 10px 30px;
}

.example-chip-list {
  width: 100%;
}

/*::ng-deep .cdk-overlay-container, .cdk-overlay-wrapper, .cdk-overlay-pane, .cdk-overlay-backdrop {
    z-index: 9999 !important;
}*/


::ng-deep .cdk-overlay-container , .cdk-overlay-wrapper, .cdk-overlay-pane, .cdk-overlay-backdrop
 {
	z-index: 1020 !important;
	position: absolute;
	

}


/*.autocomplete {
    max-height: 150px; 
    overflow:auto; 
    position: absolute !important; 
    padding: 0 !important;
    z-index:1000;
}

.mat-form-field-placeholder {
    display:block !important;
}*/